$media-sm: 576px;
$media-md: 768px;
$media-lg: 1080px;

$white: #fefdff;
$primary: #339999;
$dark-grey: #666666;
$light-grey: #999999;
$green: #99cc33;
$light-green: #ccff33;

$base-transition: all 100ms linear;
