.start {
  padding-top: 24px;
  padding-bottom: 28px;
  background: #329797 url(../img/general/found-bg.jpg) 0 0 no-repeat;
  text-align: center;

  @include media-lg {
    padding-top: 54px;
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__button {
    @include media-lg{
      width: auto;
      min-width: 510px;
    }
  }
}
